.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.Aplicatie {
  background-color: #ffffff;
  min-height: 45vh;
  min-width: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  border-radius: 5%;
  position: relative;
  box-shadow: 5px 5px 15px #807777, -5px -5px 15px #beacac;
}

